$color-primary-0: #408E2F;	// Main Primary color */
$color-primary-1: #9AD58E;
$color-primary-2: #68B159;
$color-primary-3: #216A12;
$color-primary-4: #0C4700;

$color-alternative-0: #226666;	/* Main Primary color */
$color-alternative-1: #669999;
$color-alternative-2: #407F7F;
$color-alternative-3: #0D4D4D;
$color-alternative-4: #003333;

$color-semitransparent: rgba(256, 256, 256, 0.5);